.tooltip {
  .tooltip-inner {
    background-color: $wisboo-grey;
    border-radius: 2px;
    font-size: 12px;
    padding: 5px 20px;
    text-align: left;
    max-width: 400px;
  }

  &.tooltip-md {
    min-width: 250px;
    max-width: 250px;
  }

  &.top .tooltip-arrow {
    border-top-color: $wisboo-grey;
  }

  &.right .tooltip-arrow {
    border-right-color: $wisboo-grey;
  }

  &.in {
    opacity: 1;
  }
}
