$wisboo-green: #8DC63F;
$wisboo-blue: rgba(85, 164, 218, 0.7);

// Primary Colors
$wisboo-pink: #E6418D;
$wisboo-grey: #4B4B4D;
$success-color: #17E68A;
$danger-color: #FF455C;
$warning-color: #F8CF1C;

// Greys
$background-grey: #F8F8F8;
$grey: #C6C7C8;
$dark-grey: #87888A;
$darken-grey: #35353A;
$semi-dark-grey: #A7A8A9;
$light-grey: #ECEDED;
$text-grey: #DCDDDE;
$lighten-grey: #909193;
$star-grey: #DADBDC;
$box-grey: #FBFBFB;
$button-grey: #AEAEB1;

// Generals
$white: #FFF;
$black: #000;
$light-blue: #2BA6DA;
$rating-blue: #40BFEE;
$facebook-blue: #4C6AB0;
$facebook-blue-hover: #025D8E;
$linkedin-blue: #0277B5;
$google-red: #E94335;
$google-red-hover: #CE3A2D;
$border-grey: #BDBDBD;
$box-blue: #4A90E2;
$switch-green: #B7E885;
$switch-grey: #D0D1D2;
$category-blue: #00A9E8;
$category-shadow-blue: #009AD4;
$template-title-grey: #6A6A6E;
$elements-blue: #393882;
